.py-3{
    background-color:#017e7e!important;
}

.footer-title{
    color:#99d9d9;
}

.footer-bottom{
    background-color: #045d5d
}

.image-logo{
    padding-left: 180px;
}

.py-2{
    font-size: small;
}